<main-container>

<h1> <i class="fa fa-map-marker"></i> Departamentos </h1>

<hr />

<div side-panel #novoDepartamentoPainel class="side-panel" panelTitle="Novo departamento">

<div departamento-subscribe [AreasList]="AreasList" (emitter)="updateListOnCreate($event)" class="form-container-relative"
buttonText="Salvar">

</div>

</div>

<div class="filterPanel" crud-top-panel tooltipAddEvent="Adicionar Departamento" (addEventEmitter)="novoDepartamentoPainel.show()">

        <div class="col-xl-3">
              <input class="form-control crud-item" type="text" value="" placeholder="Filtrar pelo nome" 
              (keyup)="onFilterUpdate($event, 'Nome')"/>
        </div>


        <div class="col-xl-3">
            <select name="area" class="form-control" placeholder="Filtrar pela área"  (change)="onFilterUpdate($event, 'AreaNome')" >
                    <option value=""> Selecione uma área </option>
                    <option *ngFor="let area of AreasList let i = index" [value]="area.Nome" > {{ area.Nome }} </option>
            </select>
        </div>


        <div class="col-xl-1">
                <button class="btn btn-warning w-100" (click)="this.Departamentos = this.Departamentos.reverse()"> <i class="fa fa-exchange"></i> </button>
        </div>
  
    
    </div>

    <div class="row innerList">    
<div *ngFor="let Departamento of Departamentos | departamentoPipe : filterQueryHandler; let i = index" class="col-xl-3 col-lg-4 col-md-6 col-12">           
    <div card-Departamento [Departamento]="Departamento" (deleteEventEmitter)="DepartamentoSubscribe.modalConfirmMessage.openModal()"
    (editEventEmitter)="atualizarDepartamentoPainel.show()"></div>
   
            <div side-panel #atualizarDepartamentoPainel panelTitle="Editar departamento">
            <div departamento-subscribe [AreasList]="AreasList" (IdEmitter)="updateListOnDelete($event)"
             (emitter)="updateListOnUpdateEvent($event)" 
            #DepartamentoSubscribe [DepartamentoModel]="Departamento" buttonText="Atualizar">   
                                                   
        </div>
    </div>
</div>


<div *ngIf="!(Departamentos | departamentoPipe:filterQueryHandler)?.length" class="alert col-12 alert-danger"> Não foram retornados resultados para sua pesquisa </div>   




</div>

</main-container>